// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$fond: #6C85E8;
$light-gray1: #DEE3E9;
$light-gray2: #f5f5fa;
$strong-gray: #404040;
$black: #000000;
