//tool-box
i {
  font-size: 25px;
}

.file-upload > input
{
   display: none;
}
.file-upload > label {
  cursor:pointer;
  color: $strong-gray;
  :hover {
    color: #00bf83;
    transition: all .3s ease-in-out;
  }
}


// tableau
table {
  background-color: white;
}
a {
  text-decoration: none !important;
  font-weight: bold;
  color: black;
  word-wrap: break-word;
}
a:hover {
  color: #0043b0;
  transition-duration: 0.5s;
}

.valid {
  background-color: rgba(0, 255, 42, 0.3) !important;
}
.notvalid {
  background-color: rgba(255, 0, 0, 0.1) !important;
}
th {
  background-color: #edf1f5;
}

tbody tr {
  transition: all .2s ease-in-out;
  box-shadow: 0 13px 10px -10px rgba(196,196,196,0.5);
}
tbody tr:hover {
  box-shadow: 0 18px 15px -15px rgba(196,196,196,0.9);
}
