#main-container {
  background-color: white;
}

a {
  text-decoration: none !important;
  color: $strong-gray;
  font-weight: bold;
}

#tableau {
  background-color: $light-gray2;
  padding: 30px;
  margin-top: 10px;
  text-align: center;
}

.valid {
  background-color: rgba(0, 255, 42, 0.3) !important;
}

.notvalid {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

th {
  padding: 5px 10px;
  background-color: $light-gray1;
}

tbody {
  font-size: 13px;
}



tbody tr {
  transition: all .2s ease-in-out;
  box-shadow: 0 13px 10px -10px rgba(196,196,196,0.5);
}

tbody tr:hover {
  box-shadow: 0 18px 15px -15px rgba(196,196,196,0.9);
}

td {
  padding: 5px 10px;
}

